<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/menu.js"></script>

    <script>

      $(document).ready(function(){
        $('#mining').click(function(){
            console.log('button listener');
            ButtonListener('changeMiningStatus');
        });

        $('#index').click(function(){
            ButtonListener('');
        });

    });


    </script>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id="menu">
      <p>
        <button id="mining"><%= miningStatus %></button><br/>
        <button id="index">Main Menu</button><br/>
      </p>

    </div>

  </body>
</html>
